# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python build / cache / extension files
*.py[cod]
__pycache__/

# Virtual environments (ignore any common name)
.env
.venv/
venv/
env/
env.bak/
venv.bak/

# Editor/IDE settings
.vscode/

# Project-specific generated data (For security and privacy)
storage_data/

# Project-specific config (May contain secrets)
config.json